* {
  background-color: rgb(45, 45, 45);
  align-content: flex-start;
  margin: 5px;
  padding: 1px;
}

header {
  background-color: gray;
  height: 400px;
  align-content: center;
}
body {
  align-items: center;
  height: 25px;
}

p {
  background-color: rgb(198, 251, 255);
  padding: 60px;
  margin: 5px;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
  background-color: skyblue;
  margin: 2px;
  padding: 70px;
  font-size: xx-large;
  font-stretch: expanded;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: aliceblue;
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;

}
.header-image {
  background-image: url("https://img.peerspace.com/image/upload/c_crop,g_custom/g_auto,c_fill,q_auto:eco,f_auto,fl_progressive:steep,w_1200,h_495/cu7tsw2wqbabdyigrq0d");
  height: 200px;
  width: 1350px;
  align-self: stretch;
}
h3 {
  align-items: center;
  margin: 6px;
  padding: 40px;
  text-align: center;
  background-color: antiquewhite;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
footer {
  padding: 10px;
  background-color: azure;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

div {
  columns: 3;
}
