* {
  background-color: rgb(45, 45, 45);
  align-content: flex-start;
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  font-family: "Poppins";
}

header {
  background-color: rgb(137, 136, 136);
}

li {
  list-style: none;
}

a{
  color: #e6f9ff;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.6s;
}

.nav-link:hover {
  color: slateblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #e6f9ff;
}

form {
  background-color: gray;
}

label {
  padding: 4px;
  color: white;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  background-color: azure;
  border: 3px solid black;
}

button {
  background-color: azure;
  padding: 6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media(max-width:768px) {
  .hamburger {
    display:block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .na-menu {
    position:fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}

.jumbotron > h2 {
  color: white;
  text-align: center;
}

.jumbotron > a {
  text-decoration: none;
  background-color: white;
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
}

figcaption {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 30px;
  background-color: #111;
  color: antiquewhite;
  font-variant: small-caps;
  font-size: larger;
}

body {
  align-items: center;
  height: 25px;
  background-color: darkslateblue;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.container {
  background-color: black;
  float: right;
  height: 25px;
  width: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menulogo {
  height: 3px;
  width: 30px;
  background-color: azure;
}

.menu {
background-color: black;
  padding: 10px;
  box-sizing: border-box;
  width: 60%;
  height: 2vh;
  transform: translateX(-907px) translateY(-300px);
  transition: 0.2s;
}

.menu li {
  list-style-type: none;
  border-bottom: 1.8px solid black;
  padding: 30px 0;
  text-align: center;
}

.showmenu {
  transform: translateX(907px) translateY(-300px);
}

.menu li:last-child {
  border-bottom: none;
}

.menu li:first-child {
  font-weight: bold;
}

.menu li a {
  color: azure;
  text-decoration: none;
  font-size: 20px;
  transform: font-weight 0.2s;
}

.menu li a:hover {
  font-weight: bold;
}

@media screen and (min-width: 1000px) {
  .menu{
    width: 500px;
  }
}

@media screen and (max-width:600px) {
  .menu li a{
    font-size: 16px;
  }
}

p {
  background-color: rgb(231, 218, 250);
  padding: 60px;
  margin: 5px;
  border: 3px solid grey;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


h1 {
  margin: 2px;
  font-weight: bolder;
  padding: 70px;
  text-decoration: underline;
  text-decoration-style: double;
  font-size: 350%;
  font-stretch: expanded;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: aliceblue;
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
.header-image {
  background-image: url("https://img.peerspace.com/image/upload/c_crop,g_custom/g_auto,c_fill,q_auto:eco,f_auto,fl_progressive:steep,w_1200,h_495/cu7tsw2wqbabdyigrq0d");
  height: 320px;
  width: auto;
  align-self: stretch;
}
h3 {
  margin: 6px;
  padding: 40px;
  text-shadow: 0 0 20px #fff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #e6f9ff, 0 0 80px #ffffff;
  text-decoration: underline;
  font-style: oblique;
  border: 4px solid grey;
  text-align: center;
  background-color: rgb(200, 214, 242);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
footer {
  padding: 30px;
  background-color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: right;
  font-weight: bold;
  color: aliceblue;
}

.footer-image {
  background-image: url("https://miro.medium.com/max/1400/1*gcPA3G1_gWp5nD1VEo8n4g.png");
  height: 175px;
  width: auto;
  background-color: #111;
  padding: 5px;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }




