* {
  background-color: black;
  align-content: flex-start;
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  font-family: "Poppins";

}



.homepage {
  background-size: cover;
  display: flex;
  border: 5px solid #0e85a9;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  transform: translateY(-1130px) translateX(-19px);
  height: 460px;
  width: 870px;
}

img.band {
  width: 300px;
  height: 170px;
  transform: translateX(40px) translateY(-120px);
  padding: 0;
  border: 1px solid rgb(86, 39, 39);
}

img.mic {
  width: 300px;
  height: 250px;
  transform: translateY(-860px) translateX(1200px);
}

img.mixing {
  width: 800px;
  height: 380px;
  transform: translateY(-670px) translateX(700px);
  border: 0.1em solid #ff4da6;
}

img.mastering {
  width: 270px;
  height: 300px;
  transform: translateY(-600px) translateX(70px);
}

a.labs {
  padding: 50px;
}

input {
  color: #000000;
  background-color: #ffffff;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

nav {
  text-align: start;
  padding: 40px 10px 0 0;
  columns: 4;
  column-gap: 35px;
  text-align: center;
  order: 1;
  background: black;
  margin: 0 90px;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




#form button:hover{
  color:white;
  background-color:  red;
  border: 2px solid  red;
}

li {
  list-style: none;
  display: none;
}

a{
  color: #3e3e3e;
  text-decoration: none;
}

img  {
display: flex;
border: 20px solid black;
height: 540px;
width: 1518px;
}

p.mix {
  transform: translateY(70px);
}

p.master {
  transform: translateX(450px) translateY(100px);
  background-color: rgb(116, 70, 122);
  border:4px solid rgb(91, 131, 175);
}

button {
  padding: 9px 25px;
  background-color: darkslateblue;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}

button:hover {
  background-color: rgb(223, 0, 0);
  border: 2px solid  red;
}

a#down {
  justify-content: center;
  align-self: center;
  border: 100px solid black;
  background-color: #425ae6;
  font-size: x-large;
  padding: 20px;;
  text-align: center;
}

a#down:hover {
  background-color: rgb(214, 65, 255);
  border: 2px solid  rgb(214, 65, 255);
  color: #111;
  border: 100px solid black;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: start;
  padding: 0 24px;
  height: 5px;
  line-height: 75px;
  word-spacing: 237px;
}



.navbar .menu a:hover {
  color: #ff7979;
}

h4 {
  color: #000000;
  padding: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: medium;
}

h4.vid {
  color: #e6f9ff;
  background: none;
  transform: translateX(950px) translateY(-85px);
}

#jumbotron {
  background: url(https://img.peerspace.com/image/upload/c_crop,g_custom/g_auto,c_fill,q_auto:eco,f_auto,fl_progressive:steep,w_1200,h_495/cu7tsw2wqbabdyigrq0d
  ) center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 57vh;
}


#jumbotron > h2 {
  color: white;
  text-align: center;
}

#jumbotron > a {
  text-decoration: none;
  background-color: white;
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
}

li, a{
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ff4da6;
}

button {
  font-weight: 500;
  transform: translateX(100px) translateY(70px);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  width: 200px;
  margin: 12px;
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
  background-color: rgb(59, 24, 98);
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10%;
  height: 160px;
}

figcaption {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 30px;
  color: antiquewhite;
  font-variant: small-caps;
  font-size: larger;
}

body {
  align-items: center;
  height: 15px;
  background:none
}


form {
  color: #e6f9ff;
  transform: translateX(90px) translateY(-250px);
  width: 400px;
  padding: 0;
  background: none;
}

label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 17px;
  transform: translateY(-90px);
  padding: 0px 50px 0 0;
  line-height: 70px;
  margin: 20px;
}



#toggle {
  display: none;
}
#pageContents {
  margin: 20px;

}


p {
  background-color: rgb(69, 53, 68);
  color: #e6f9ff;
  line-height: 30px;
  width: 600px;
  transform: translateY(-270px);
  padding: 30px;
  margin: 10px;
  border: 1px solid rgb(164, 59, 178);
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h5 {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: 100;
  padding: 60px;
  transform: translateX(650px) translateY(550px);
  width: 780px;
  text-align: center;
  line-height: 35px;
  outline-style: groove;
  background-color: #266f85;
}


div #error {
  background: none;
  padding: 0%;
  height: 400px;
}

h1 {
  margin: 2px;
  font-weight: bolder;
  background-color: rgb(59, 24, 98);
  padding: 10px;
  text-decoration: underline;
  text-decoration-style: double;
  font-size: 350%;
  font-stretch: expanded;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: aliceblue;
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}

h3.youtube {
  transform: translateY(-100px) translateX(1030px);
  font-size: larger;
  background: none;
  width: 300px;
}

h3 {
  margin: auto;
  transform: translateX(-260px) translateY(-45px);
  color: rgb(186, 223, 255);
  background: none;
  width: 950px;
  text-align: center;
  padding: 2px 10px 0;
  text-shadow: 0 0 100px rgb(144, 223, 255), 0 0 17px #98e7ff, 0 0 180px #90e3ff;
  text-decoration: underline;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



h2 {
  color: #fda4ff;
  background-color: rgb(43, 43, 43);
  transform: translateX(220px) translateY(-305px);
  border: 0.3px solid #fda4ff;
  text-align: center;
  padding: 20px;
  width: 170px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3.fill {
  transform: translateY(-10px) translateX(-225px);
}

div {
  background: none;
}

h3.mixtitle {
  color: rgb(227, 157, 255);
  transform: translateY(30px) translateX(-500px);
  font-size: larger;
}

div.mixer {
  height: 970px;
}

footer {
  background-color: rgb(0, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 300px;
  transform: translateX(-48px);
  margin-left: auto;
  font-weight: bold;
  color: aliceblue;
}

.player {
  transform: translateX(1160px) translateY(-673px);
  background: none;
  padding: 0;
}

p.weather {
  transform: translateY(50px) translateX(290px);
}

p.record {
  transform: translateY(90px) translateX(50px);
  width: 1000px;
}

h2.vocals {
  transform: translateY(40px) translateX(290px);
  width: 400px;
}

input#question {
  padding: 50px;
}

section {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: none;
  box-sizing: border-box;
}

input.vidID {
  transform: translateX(1107px) translateY(-140px);
}

button.convert {
  transform: translateX(1120px) translateY(-100px);
}

label.mail {
  background: none;
}

@media screen and (min-width: 300px) and (max-width: 667px) {
  body{text-align: center; color: rgb(144, 135, 206);}
  .fa{color: #e6f9ff; margin-right: 0px;}
  label {display: block; cursor: pointer; width: 35px; height: 30px; float: right;}
    .menu{text-align: center; width: 100%; display: none; clear: right;}
    .menu a {font-size: large; transform: translateX(-20px) translateY(6px); width: 180px; display: block; border-bottom: solid 1px black; margin: 0; color:rgb(222, 192, 255); background-color: rgb(38, 38, 38); opacity: 90%;}
    #toggle:checked + .menu{display: block;} .footer-image {
      background-image: url("https://miro.medium.com/max/1400/1*gcPA3G1_gWp5nD1VEo8n4g.png");
      height: 175px;
      width: auto;
      background-color: #111;
      padding: 0;
    }
    .levels {
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 25vh;
      border: 8px solid black;
      opacity: 90%;
      width: 56.5vh;
    }
    form {
      transform: translateX(40px);
      width: 300px;
      text-align: center;
      margin-right: auto;
      align-content: flex-start;
      justify-content: flex-start;
      background: none;
    }

    header {
      text-align: center;
      font-size: smaller;
      width: 100%;
    }

    h3.fill {
      transform: translateX(0) translateY(-35px);
    }

    input {
      transform: translateX(-10px);
      width: 150px;
    }

    button.convert {
      transform: translateX(0px) translateY(0px);
    }

    p.record {
      width: 350px;
      transform: translateX(3.5px);
    }

    h4.vid {
      transform: translateX(0px) translateY(0px);
      text-decoration: overline;
      line-height: 7px;
    }

    h2 {
      transform: translateX(20px);
      text-align: start;
      width: 100px;
      opacity: 80%;
      background: none;
      border: none;
      font-size: medium;
    }

    #name {
      transform: translateX(-37px) translateY(-20px);
    }

    input.vidID {
      transform: translateX(0px) translateY(0px);
    }

    h3.youtube {
      transform: translateX(0px);
      background: none;
    }

    h3 {
      transform: translateX(-50px) translateY(-40px);
      width: 400px;
      text-align: center;
    }
    label {
      transform: translateX(-40px) translateY(-37px);
      padding: 0;
      background-color: #000000;
      background: none;
      text-align: center;
      align-content: flex-start;
      justify-content: flex-start;
      margin-right: auto;
    }
    .homepage {
      display: none;
    }

    button.sub {
      transform: translateX(60px);
    }

    .player {
      display: none;
    }
    footer {
      transform: translateX(-40px);
      font-size: medium;
    }

    label.names {
      transform: translateX(-65px) translateY(-60px);
    }

    label.mail {
      transform: translate(-10px) translateY(-41px);
    }

    h2.vocals {
      transform: translateX(80px);
      width: 200px;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    h2.mission {
      transform: translateY(-700px) translateX(40px);
      width: 200px;
    }

    p.goal {
      transform: translateY(-700px) translateX(9.5px);
    }

    label.question {
      transform: translateX(-90px);
    }

    h3 {
      width: 300px;
      transform: translateX(8px) translateY(-35px);
    }

    h5 {
      width: 340px;
      transform: translateX(19px) translateY(390px);
      font-size: medium;
      height: fit-content;
    }

    button.sub {
      transform: translateX(0);
    }

    p.mix {
      transform: translateX(8.5px) translateY(18px);
      padding: 0;
    }

    p.master {
      transform: translateX(8.6px) translateY(9px);
    }

    label#hamburger {
      font-size: xx-large;
    }

    p {
      width: 338px;
      transform: translateX(9px);
    }
    p.weather {
      transform: translateX(-12px);
    }
    .hidden--mobile {
      display: none !important;
}

